@import "tailwindcss";

:root {
  --background: #111827; /* Un gris más oscuro para mayor contraste */
  --foreground: #e0e0e0;
  --highlight: #8B5CF6; /* Púrpura como color de acento principal */
  --highlight1: #1ef184;
  --highlight2: #f6922c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif; /* Fuente más moderna y legible */
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Negrita para los encabezados */
}

/* Animación de entrada para las secciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

/* Animación de rebote más lenta para el logo */
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

/* Estilos de la barra de navegación para el efecto de desenfoque */
.navbar-blur {
  background-color: rgba(17, 24, 39, 0.75);
  backdrop-filter: blur(10px);
}